<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div class="content">
    <p id="p-main">
      Choose a number<br>
      <form id="the_form">
        <input type="radio" name="some_number" value="1">One<br>
        <input type="radio" name="some_number" value="2">Two<br>
        <input type="radio" name="some_number" value="12">Twelve
      </form>

    </p><br>

    <button type="button" onclick="fetchFromServer()">Press Me!</button>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

function fetchFromServer() {
    
    
    var form_string = $("#the_form").serialize();
    // when you select two, this string will be:
    //   "some_number=2"
    
    var ajax_params = {
        'url'     : "https://user.tjhsst.edu/pckosek/background_worker",
        'type'    : "get",
        'data'    : form_string,
        'success' : onServerResponse
    }
    
    $.ajax( ajax_params )
}

function onServerResponse (responseObject) {
    // Jquery will automatically convert text to an object if it 
    //  recognizes that the result is JSON
    
    document.getElementById('p-main').innerHTML = responseObject.result;
    
}

</script>

</body>
</html>