<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <p>Hello, {{user}}</p>
    <p>Here are some foods!</p>
    
    <ul>
        {{#each food_list}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
  </body>
</html>