<!doctype html>
<html>

<head>
  <title>{{title}}</title>

  <link rel='stylesheet' href='/css/style.css'>

</head>

<body>
    <h1>This was generated via hbs</h1>
    
    <p>
        <a href="foo">foo page</a>
    </p>


    <script>
      console.log('something!');
    </script>    
</body>

</html>