<!DOCTYPE html>
<html>
<head>
	<title>The Other Page</title>
	<link rel="stylesheet" type="text/css" href="./css/decoration.css">
</head>
<body>
	<h1>Welcome to the styled page</h1>

	<div>
		<p>Mom, I can't even...</p>
		<img src="./img/cant_even.jpg" width="500">
	</div>

</body>
</html>