<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
    
    <!--put scripts in header with tag async-->
    <script type="text/javascript" src="js/clientScript.js" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" async></script>
</head>

<body>
<div class="top-nav">
    <ul class="top-horizontal">
      <li class="top-menu lefty"><a href="javascript:void(0)">TJHSST</a></li>
      <li class="top-menu lefty"><a href="javascript:void(0)">Home</a></li>
      <li class="top-menu lefty"><a href="javascript:void(0)">Labs</a></li>
      <li class="top-menu righty"><a href="javascript:void(0)">Settings</a></li>
    </ul>
</div>
<div class="content">
    <div class="col-2">
        <h1>The first Block Today was:</h1>
        <p>{{firstBlock}}</p>
    </div>
    <div class="col-2">
        <h1>Visitor Number: {{visits}}</h1>
    </div>
</div>


</body>
</html>
