<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <p>Hello, {{user}}</p>
    <p>You are visitor number {{count}}</p>
    <p>Your favorite food is {{food}}</p>
  </body>
</html>